@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: "League Spartan";
    font-size: 15px;
    margin: 0;
    background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top 0 left 0, bottom 0 right 0; 
    padding: 20px;
}

.container {
    width: 450px;
    margin: 0 auto;
}

h1 {
    color: var(--Very-Dark-Magenta);
    text-align: center;
    font-weight: 700;
    font-size: 3.5rem;
}

.p-header {
    color: var(--Dark-Grayish-Magenta);
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 30px;
}

.stars-content {
    background-color: var(--Light-Grayish-Magenta);
    text-align: center;
    border-radius: 10px;
}

.stars-img {
    width: 25px;
    padding-top: 20px;
}

.p-stars {
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    font-size: 1.6rem;
    padding-bottom: 20px;
    margin-top: 10px;
}

/* Main flex */

.box {
    background-color: var(--Very-Dark-Magenta);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.box-header {
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.user-img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.box-header-text {
    padding-left: 35px;
    line-height: 5px;
}

.p-name {
    color: var(--White);
    font-weight: 500;
    font-size: 1.6rem;
}

.user-status {
    color: var(--Soft-Pink);
    font-weight: 400;
    font-size: 1.6rem;
}

.box-content {
    color: var(--White);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 30px;
}

@media screen and (min-width: 700px){

    body {
        background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 35%, 67%;
        background-position: top 0 left 0, bottom 0 right 0;
    }

    .container {
        width: 1200px;
         
    }

    header {
        display: inline-flex;
    }

    .header-top {
        width: 600px;
        padding-right: 100px;
        box-sizing: border-box;
    }

    .stars {
        display: inline-flex;
        flex-direction: column;
        width: 600px;
        align-self: center;
    }
     h1 {
        text-align: left;
        font-size: 3.5rem;
     }

     .p-header {
        text-align: left;
        font-size: 1.3rem;
     }

     .stars-content {
        display: inline-flex;
        flex-direction: row;
        height: auto;
        padding: 20px 0 20px 40px;
        margin: 0 0 20px 0;
     }

     .p-stars {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        align-items: center;
        vertical-align: middle;
     }

     .stars-text {
        padding-left: 30px;
     }

     .stars-img {
        padding: 0;
        width: 15px;
     }

     .stars-content {
        width: 400px;
     }

     .stars-box-1 {
        background-color: var(--Light-Grayish-Magenta);
        align-self: flex-start;
     }

     .stars-box-2 {
        background-color: var(--Light-Grayish-Magenta);
        align-self: center;
     }

     .stars-box-3 {
        background-color: var(--Light-Grayish-Magenta);
        align-self: flex-end;
     }

     main {
        display: inline-flex;
        flex-direction: row;
        gap: 30px;
        height: 320px;
     }

     .box {
        padding: 40px 40px 0 40px;
        height: 230px;
        margin: 0;
     }
    
     .box-content {
        font-size: 1.08rem;
     }

     .box-1 {
        align-self: flex-start;
     }

     .box-2 {
        align-self: center;
     }

     .box-3 {
        align-self: flex-end;
     }

     .user-img {
        width: 50px;
        height: 50px;
     }

     .p-name {
        font-size: 1.08rem;
        margin: 0;
     }

     .user-status {
        font-size: 1.08rem;
        margin: 0;
     }

     .box-header-text {
        line-height: 25px;
     }
     
}